<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @discussion.title %>
</p>

<p>
  <strong>Project:</strong>
  <%= @discussion.project.title %>
</p>

<h3>Comments</h3>
<% @discussion.comments.each do |c| %>
<%= c.content %><br>
<% end %>
<div class="container">
<h3>New Comment</h3>
<%= form_for([@discussion,Comment.new]) do |f| %>
<div class="field">
<%= f.label :content %><br>
<%= f.text_area :content, :class=>"form-control" %>
</div>
<%= f.submit "Add Comment", :class => "btn btn-primary" %>
</div>
<% end %>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', project_path %>
