<div class="alert"><p id="notice"><%= notice %></p></div>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= current_user.email.to_s %>
</p>
<% if @project.discussions.size != 0 %>
<br><br>these are the discussions under this project : <br><br>

<% @project.discussions.each do |c| %>
<%=link_to c.title , discussion_path%><br>
<% end %><br>
<% end %>
<%= form_for([@project,Discussion.new]) do |f| %>
<div class="field">
	Create Discussion <br>
<%= f.label :Title %><br>
<%= f.text_field :title, :class=>"form-control" %>
</div>
<%= f.submit "Create", :class => "btn btn-primary" %>
</div>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

